sudo: required
language: node_js
node_js:
  - "8"
install: npm install
cache:
  directories: 
    - $HOME/.npm
jobs:
  include:
    # 代码检查
    - stage: lint
      script: npm run lint
    - stage: build
      script: npm run build
    - stage: test
      script: npm run test  -- --coverage && bash <(curl -s https://codecov.io/bash)
stages:
  - lint
  - build
  - test